/* Override CSS */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 1rem;
  margin: auto;
  width: 50%;
}

@media screen and (min-width: 1900px) {
  .grid {
    width: 40% !important;
  }
}

.grid > div {
  display: grid;
}

.grid > div::before,
.grid > div > img {
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 1rem;
  margin: auto;
  background-color: #94b655;
}

.footer-custom {
  padding-bottom: 20px;
  padding-top: 20px;
}

@media screen and (min-width: 800px) {
  .home-icon {
    margin-top: -165px;
  }
}

@font-face {
  font-family: "Raleway";
  src: url("/medias/static/Raleway-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

html *
{
  font-family: Raleway !important;
}

div#header_inlineMenuSection {
  border-right: 1px solid white;
  padding-right: 1em;
}

p#header_title {
  text-transform: uppercase;
  color: #b9c300;
  padding-left: 0.5em;
}

div#header_logo {
  border-right: 1px solid white;
}

div#footer {
  display: none;
}

img.mr-2 {
  display: none !important;
}

.testofooter {
  color: white;
}

@media (min-width: 1024px) {
  .desktop\:mx-10percent {
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
}
