.gridhome {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 1rem;
  margin: auto;
  width: 50%;
  padding: 20px;
}

@media screen and (min-width: 1900px) {
  .gridhome {
    width: 40% !important;
  }
}

.gridhome > div {
  display: grid;
}

.gridhome > div::before,
.gridhome > div > img {
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 1rem;
  margin: auto;
  background-color: #94b655;
}

.footer-custom {
  padding-bottom: 20px;
  padding-top: 20px;
}

@media screen and (min-width: 800px) {
  .home-icon {
    margin-top: 0px;
    text-align: center;
  }
}

@font-face {
  font-family: "Raleway";
  src: url("/medias/static/Raleway-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

.home-icon-text {
  margin-top: 1em;
}

.home-icon-img {
  margin-top: 2em;
}

html *
{
  font-family: Raleway !important;
}

div#header_inlineMenuSection {
  border-right: 1px solid white;
  padding-right: 1em;
}

p#header_title {
  text-transform: uppercase;
  color: #b9c300;
  padding-left: 0.5em;
}

div#header_logo {
  border-right: 1px solid white;
}

div#footer {
  display: none;
}

img.mr-2 {
  display: none !important;
}

.testofooter {
  color: white;
}

@media (min-width: 1024px) {
  .desktop\:mx-10percent {
    margin-left: 1% !important;
    margin-right: 1% !important;
  }
}

.home-map {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.left-home-map { grid-area: 1 / 1 / 2 / 2; }
.right-home-map { grid-area: 1 / 2 / 2 / 3; }
.home-map-seach {
  position: inherit;
  width: 100%;
  height: 100vh;
  z-index: 999;
  padding: 15px;
}

.space {
  height: 25px;
  margin-top: 3em;
  background-color: #94b655;
}

.space-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-home-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  padding: 20px;
}
